aside {
    background: #0A67A2; /* mesma cor da div top-nav do site da Prefeitura */
    padding: 3px 0 3px 0;
    box-shadow: inset -3px -3px 0 0 #e1bc0f;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 2em;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#name, #email {
  width: 50%;
}
