
aside {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
   
  /*Gradient*/
  background: #088A85; /* Old browsers */
  background: -moz-linear-gradient(top, #088A85 0%, #008594 44%, #04B4AE 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#088A85), color-stop(44%,#008594), color-stop(100%,#04B4AE)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #088A85 0%,#008594 44%,#04B4AE 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #088A85 0%,#008594 44%,#04B4AE 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #088A85 0%,#008594 44%,#04B4AE 100%); /* IE10+ */
  background: linear-gradient(top, #088A85 0%,#008594 44%,#04B4AE 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#088A85', endColorstr='#04B4AE',GradientType=0 ); /* IE6-9 */
}

p {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 25px;
    margin-inline-end: 25px;
}

textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
#name, #email {
  width: 50%;
}    

.botaoradio input[type=radio], .botaoradio input[type=checkbox]{
    display:none; /* Esconde os inputs */
}
 
.botaoradio label {
    cursor: pointer;
}
.botaoradio input[type="radio"] + label:before, .botaoradio input[type="checkbox"] + label:before {
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 16px;
    border-radius:4px;
}
 
.botaoradio input[type="radio"]:checked + label:before, .botaoradio input[type="checkbox"]:checked + label:before {
    background: #A0A0A0;
    color: #FFF;
    content: "\2713";
    text-align: center;
}
 
.botaoradio input[type=radio"]:checked + label:after, .botaoradio input[type="checkbox"]:checked + label:after{font-weight: bold;

}


